@font-face {
    font-family: 'LexendDeca';
    src: url('/font/LexendDeca-VariableFont_wght.ttf') format('tff'),
        url('/font/LexendDeca-VariableFont_wght.ttf') format('tff');
    font-weight: normal;
    font-style: normal;
}